body {
    background-image: url("rows.avif");
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container{
  width: 80%;
  margin: auto;
  background: wheat;
  border: 3px solid rgb(98, 129, 12) ;
border-radius: 10px;
}
h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(241, 111, 4);
}

#save-btn {
    background: darkgreen;
}
#save-el{
    font-weight: bold;
}

